

        <div class="flex-grow-1 d-flex flex-column px-3 py-1 rounded" style="background-color: rgb(229, 229, 229); min-height: 500px;" >
            
            <div class="d-flex justify-content-between py-1">
                <div class="align-self-center">Hello, {{username}}</div>
                <div class="d-flex justify-content-end">
                    <div *ngIf="userrole=='super' || userrole=='admin'" class="px-2">
                        <button class="btn btn-primary d-flex justify-content-center" (click)="loaduserlist()">
                            <span class="material-symbols-outlined">person</span>
                            User List
                        </button>
                    </div>
                    <div *ngIf="userrole=='super' || userrole=='admin'" class="px-2">
                        <button (click)="GroupisCollapsed = !GroupisCollapsed" [attr.aria-expanded]="!GroupisCollapsed" aria-controls="collapsegroup" class="btn btn-success d-flex justify-content-center">
                            <span class="material-symbols-outlined">add</span> 
                            Add Group
                        </button>
                    </div>
                </div>    
            </div>
            <div class="collapsible"  id="collapsegroup" [ngbCollapse]="GroupisCollapsed" class="border border-secondary bg-light rounded h-auto mb-2 mt-2">
                <form>
                    <div class="form-group align-items-center px-2">
                        <label class="form-label mx-1">Group Name</label>
                        <input type="text" name="username" [(ngModel)]="newgroupname" class="form-control"/>
                        <label class="form-label mx-1">Group ID</label>
                        <input type="number" name="id" [(ngModel)]="newgroupid" class="form-control"/>
                        <div *ngIf="message != null" >
                            <p class="p-1 my-1 mx-auto text-center text-white bg-danger rounded w-25">
                                {{message}}
                            </p>
                        </div>
                        <button type="submit" class="btn btn-success d-flex justify-content-center my-2" (click)="addGroup()">
                            <span class="material-symbols-outlined">add</span> 
                            Add Group
                        </button>
                    </div>
                </form>
            </div>

            <div  *ngFor="let group of groups; let i = index" class="d-flex flex-column my-1 bg-light rounded border border-primary">
           
                <div class="d-flex justify-content-between py-1 bg-info rounded-top"> 
                    <div class="align-self-center px-2">
                        {{ group.name ?? 'Group '+group.id  }}     
                    </div>
                    <div *ngIf="userrole=='super' || userrole=='admin'" class="d-flex">
                        <div class="px-1" hidden>
                            <button class="btn btn-warning d-flex justify-content-center">
                                <span class="material-symbols-outlined">expand_more</span>
                            </button>
                        </div>        
                        <div class="px-1">
                            <button (click)="groupAddUser(group.id)" class="btn btn-primary d-flex justify-content-center">
                                <span class="material-symbols-outlined">group_add</span>
                            </button>
                        </div>
                        <div class="px-1">
                            <button (click)="deleteGroup(group.id)" class="btn btn-danger d-flex justify-content-center">
                                <span class="material-symbols-outlined">delete</span>
                            </button>
                        </div>
                    
                    </div>
                </div>

                <div *ngFor="let channel of group.channels; let i = index" class="d-flex justify-content-between py-2 w-75 align-self-center border-bottom"> 
                    <div class="align-self-center px-1">Channel {{ i+1 }} </div>
                    <div class="d-flex">
                        <div *ngIf="userrole!='user'" class="px-1">
                            <button (click)="channelAdduser(group.id, channel.id)" class="btn btn-primary d-flex justify-content-center">
                                <span class="material-symbols-outlined">group_add</span>
                            </button>
                        </div>
                        <div *ngIf="userrole=='super' || userrole=='admin'" class="px-1">
                            <button class="btn btn-danger d-flex justify-content-center" (click)="deleteChannel(group.id, channel.id)">
                                <span class="material-symbols-outlined">delete</span>
                            </button>
                        </div>
                        <div  *ngIf="channel.members.includes(id)" class="px-1">
                            <button class="btn btn-warning d-flex justify-content-center" (click)="loadchannel(channel.id)">
                                <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                        </div>   
                    </div>
                </div>   
               
                <div *ngIf="userrole !='user'" class="d-flex justify-content-start py-2  w-75 align-self-center bg-light rounded-bottom"> 
                
                    <div class="px-1">
                        <button class="btn btn-success d-flex justify-content-center" (click)="addChannel(group.id)">
                            <span class="material-symbols-outlined">
                                add
                            </span> 
                            Add New Channel
                        </button>
                    </div>   
                </div>
                 
            </div>
        </div>      
