<div class="container d-flex justify-content-center mt-5 p-5" style="min-height: 800px;">
    <div class="d-flex flex-column bg-info w-75 border border-dark rounded pt-4">
        <div class="d-flex justify-content-between p-2">

            <p class="d-flex flex-column justify-content-center h-100 ">Hello, {{username}}</p>
            <div class="d-flex justify-content-end">
                <div *ngIf="userrole=='super'" class="px-2">
                    <button class="btn btn-primary d-flex justify-content-center" (click)="loaduserlist()">
                        <span class="material-symbols-outlined">person</span>
                        User List
                    </button>
                </div>
                <div class="">       
                    <button class="btn btn-danger d-flex justify-content-center" (click)="logout()">
                        <span class="material-symbols-outlined">
                            logout
                        </span>
                        Log Out
                    </button>
                </div>
            </div>
        </div>

        <div class="flex-grow-1 d-flex flex-column px-5 px-1 py-2 rounded-bottom" style="background-color: rgb(107, 153, 252);" >

            <div class="d-flex justify-content-between py-1">
                <div class="align-self-center">Groups</div>
                <button (click)="GroupisCollapsed = !GroupisCollapsed" [attr.aria-expanded]="!GroupisCollapsed" aria-controls="collapsegroup" class="btn btn-success d-flex justify-content-center">
                    <span class="material-symbols-outlined">add</span> 
                    Add Group
                </button>
            </div>

            <div class="collapsible"  id="collapsegroup" [ngbCollapse]="GroupisCollapsed" class="border border-secondary bg-light rounded h-auto mb-2 mt-2">
                <form>
                    <div class="form-group d-flex align-items-center px-2">
                        <label class="form-label mx-1">Group Name</label>
                        <input type="text" name="username" [(ngModel)]="newgroupname" class="form-control"/>
                        <button type="submit" class="btn btn-success d-flex justify-content-center mx-1" (click)="addGroup()">
                            <span class="material-symbols-outlined">add</span> 
                        </button>
                    </div>
                </form>
            </div>

            <div  *ngFor="let group of groups; let i = index" class="d-flex flex-column my-1 bg-light rounded border border-primary">
           
                <div class="d-flex justify-content-between py-1 bg-info rounded-top"> 
                    <div class="align-self-center px-2">
                        Group {{ group.groupid }}     
                    </div>
                    <div class="d-flex">
                        <div class="px-1" hidden>
                            <button class="btn btn-warning d-flex justify-content-center">
                                <span class="material-symbols-outlined">expand_more</span>
                            </button>
                        </div>        
                        <div class="px-1">
                            <button class="btn btn-primary d-flex justify-content-center">
                                <span class="material-symbols-outlined">group_add</span>
                            </button>
                        </div>
                        <div class="px-1">
                            <button class="btn btn-danger d-flex justify-content-center">
                                <span class="material-symbols-outlined">delete</span>
                            </button>
                        </div>
                    
                    </div>
                </div>

                <div *ngFor="let channel of group.channels; let i = index" class="d-flex justify-content-between py-2 w-75 align-self-center border-bottom"> 
                    <div class="align-self-center px-1">Channel {{ i+1 }} </div>
                    <div class="d-flex">
                        <div class="px-1">
                            <button class="btn btn-primary d-flex justify-content-center">
                                <span class="material-symbols-outlined">group_add</span>
                            </button>
                        </div>
                        <div class="px-1">
                            <button class="btn btn-danger d-flex justify-content-center">
                                <span class="material-symbols-outlined">delete</span>
                            </button>
                        </div>
                        <div  *ngIf="channel.members.includes(id)" class="px-1">
                            <button class="btn btn-warning d-flex justify-content-center" (click)="loadchannel(channel.channelid)">
                                <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                        </div>   
                    </div>
                </div>   
               
                <div  class="d-flex justify-content-start py-2  w-75 align-self-center bg-light rounded-bottom"> 
                
                    <div class="px-1">
                        <button class="btn btn-success d-flex justify-content-center" (click)="addChannel(group.groupid)">
                            <span class="material-symbols-outlined">
                                add
                            </span> 
                            Add New Channel
                        </button>
                    </div>   
                </div>
                 
            </div>
        </div>      
    </div>
</div>
