

<section>
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 bg-secondary h-50 d-flex flex-column justify-content-center rounded">
          <form id="form">    
            <div class="form-outline mb-4 d-flex flex-column justify-content-center">
                <label class="form-label align-self-center" for="form1Example13">Username</label>
                <input type="email" name="username" [(ngModel)]="username"  id="username" class="form-control form-control-lg" required/>
            </div>
            <div class="form-outline mb-4 d-flex justify-content-center flex-column">
                <label class="form-label align-self-center" for="form1Example23">Password</label>
                <input type="password" name="password" [(ngModel)]="password"  id="password" class="form-control form-control-lg" required/>
           
            </div>
            <div class="bg-danger text-center rounded" *ngIf="message != null">
              <p>{{message}}</p>
            </div>
            <div class="form-outline mb-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="submit()">Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</section>