<div class="flex-grow-1 d-flex flex-column px-5 py-2 rounded" style="background-color: rgb(229, 229, 229); ;min-height: 500px;" >

    <div class="d-flex justify-content-between py-1">
        <div class="">
            <button class="btn btn-warning d-flex justify-content-center px-2" (click)="back()">
                <span class="material-symbols-outlined">chevron_left</span>
                <span>Back</span>
            </button>
        </div>  
        <div class="d-flex flex-column justify-content-center">
            {{group.name ?? "Group "+group.id}}
        </div>  
        <div class="">
            <button (click)="groupAddisCollapsed = !groupAddisCollapsed" [attr.aria-expanded]="!groupAddisCollapsed" aria-controls="collapseadduser" class="btn btn-success d-flex justify-content-center px-2">
                <span class="material-symbols-outlined">person_add</span>
                <span class="px-1">Add User</span>
            </button>
        </div>  
    </div>

    <div class="collapsible"  id="collapseadduser" [ngbCollapse]="groupAddisCollapsed" class="border border-secondary bg-light rounded h-auto mb-2 mt-2">
        <form>
                <div class="form-group d-flex flex-row align-items-center mx-1 flex-grow-1">
                    <label class="form-label m-1">Username</label>
                    <select class="form-control" name="newusername m-1" [(ngModel)]="newuserid">
                        <option *ngFor="let member of nonmembers" value={{member.id}}>{{member.name}}</option>
                    </select>
                    <button type="submit" class="btn btn-success btn-block w-25 m-1" (click)="addmember()">Add</button>
                </div>
        </form>
    </div>

    <div *ngFor="let user of userlist" class="d-flex flex-column my-1 bg-light rounded border border-primary">
        <div class="d-flex justify-content-between py-1 bg-light rounded-top"> 
            <div class="align-self-center px-2 mx-2">
               {{ user.name }} : {{user.role}}
            </div>
            <div class="d-flex" *ngIf="this.userrole=='super' || this.userrole=='admin'">
        
                <div class="px-1" *ngIf="group.members.includes(user.id) && !group.admins.includes(user.id) && !group.assistant.includes(user.id)">
                    <button (click)="upgradeAssistant(user.id)" class="btn btn-success d-flex justify-content-center">
                        <span>Upgrade Assistant</span>
                    </button>
                </div>
    
                <div class="px-1" *ngIf="group.assistant.includes(user.id) && !group.admins.includes(user.id)">
                    <button (click)="upgradeAdmin(user.id)" class="btn btn-success d-flex justify-content-center">
                        <span>Upgrade Admin</span>
                    </button>
                </div>

                <div class="px-1">
                    <button (click)="deleteUser(user.id)" class="btn btn-danger d-flex justify-content-center">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>    
</div>